body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

div {
  display: grid;
  border: 1px solid black;
  height: 100%;
}

#main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 0.5vw;
  column-gap: 0.5vw;
  
}



#first-block {
  display: grid;
  background-color: red;
  justify-items: center;
  align-items: center;
  width: 100vw;
  grid-area: 1 / 1 / 2 / 4;
  
}

.blue-block1 {
  display: grid;
  background-color: blue;
  justify-items: center;
  align-items: center;
  
}
.blue-block2 {
  display: grid;
  background-color: blue;
  justify-items: center;
  align-items: center;
  
}

.yellow-block1 {
  display: grid;
  background-color: yellow;
  justify-items: center;
  align-items: center;
  
}

.yellow-block2 {
  display: grid;
  background-color: yellow;
  justify-items: center;
  align-items: center;
  
}

.green-block1 {
  display: grid;
  background-color: green;
  justify-items: center;
  align-items: center;
  
}
.green-block2 {
  display: grid;
  background-color: green;
  justify-items: center;
  align-items: center;
  
}

.bloco-preto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 4;
    column-gap: 0.5vw;
    border: none;
}

.black-block {
  display: grid;
  background-color: black;
  color: white;
  justify-items: center;
  align-items: center;
  height: 16rem;
  
}

.white-block1 {
  display: grid;
  background-color: white;
  justify-items: center;
  align-items: center;
  grid-row-start: 5;
}
.white-block2 {
  display: grid;
  background-color: white;
  justify-items: center;
  align-items: center;
  grid-row-start: 5;
}

.white-block3 {
  display: grid;
  background-color: white;
  justify-items: center;
  align-items: center;
  grid-row-start: 5;
}

@media screen and (max-device-width: 800px) and (min-device-width: 421px){
  #main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 1em;
        column-gap: 1em;
    }
       
     
    .green-block1{
        display: grid;
        grid-row-start: 3;
        grid-column: 1 / 3;
    }
    .green-block2{
        display: grid;
        grid-row-start: 5;
        grid-column: 1 / 3;
    }

    .blue-block1{
        display: grid;
        grid-column-start: 1;
    }

    .blue-block2{
        display: grid;
        grid-column-start: 1;
    }

    .white-block1{
      height: 4em;
      display: grid;
      grid-row-start: 8;
  }

    .white-block2{
        height: 4em;
        display: grid;
        grid-row-start: 8;
}

   .white-block3{
       height: 4em;
       display: grid;
       grid-row-start: 9;
       grid-column: 1 / 3;
}

@media screen and (max-device-width: 420px) and (min-device-width: 320px){
        #main-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        row-gap: 1em;
        column-gap: 1em;
    }

    .blue-block1{
        display: grid;
       grid-row-start: 1;
    }
    .yellow-block1 {
      display: grid;
      grid-row-start: 2;
    }

    .green-block1{
        display: grid;
        grid-row-start: 3;
        
    }

    .blue-block2{
        display: grid;
       grid-row-start: 4;
    }

    .yellow-block2 {
     display: grid;
     grid-row-start: 5;
}

.green-block2{
        display: grid;
        grid-row-start: 6;
        
    }

    .white-block1{
      display: grid;
      grid-row-start: 9;
  }

    .white-block2{
        display: grid;
        grid-row-start: 10;
}

   .white-block3{
       display: grid;
       grid-row-start: 11;

}
}
    