*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: darkturquoise;
    text-align: center;
    margin: 0%;
    padding-top: 20px;


}

.main-container{
    background-color: lightblue;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 100%;
    }

.atalhos{
    background-color: gray;
    text-align: center;
    padding: 20px;
    
}

.descricao{
    text-align: justify;
    }

.funcionarios{
    width: 100%;
}

.img-redes{
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    display: inline;

}

footer{
    background-color: gray;
    padding: 20px;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    
}

.img-prod{
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}

.cabecalho-2{
    padding: 20px;
    
}

.atlh{
    margin-right: 100px;
}

.atlh2{
    margin: 45px;
    
}

.redes{
    text-align: center;
}

.produtos{
    display: flex;
    flex-direction: column;
}

.venda{
    background-color: lightskyblue;
    padding: 15px;
}

#submit:active{
    background-color:lightslategrey;
}

