/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    outline: none;
}

button:focus {
    color: white;
}

img {
    width: 50px;
    height: 50px;
}

div>p:first-child {
    display: inline;
}

div img {
    background: none;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    margin-top: 13px;
    margin-left: 22px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
}

.botao-amarelo:hover  {
    background-color: #c44f00;
    
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    height: 15px;
    width: 15px;
}

.icone:hover{
    opacity: 0.5;
}

.icone:active{
    opacity: 1;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    padding-top: 50px;    
}



#container-de-descricao>ol {
    padding: 15px 0px;
    list-style-type: decimal;
    list-style-position: inside;
}

#container-para-comprar {
    background-color: #e7eb90;
    display: block;
    padding-top: 50px;
}

#container-para-comprar>p {
    color: #c44f00;
    font-size: 60px;
    display: block;
    padding: 50px;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
    
}

table {
    width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    
}


td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
    outline: none;
    
    
}

td button:hover {
    background-color: hsl(49, 88%, 44%);
     
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    display: flex;
    margin: auto;
    margin-top: 100px;
    padding-left: 30px;
    outline: none;

    
}

#back-button:hover {
    background-color: #635a3d
}